{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "no-bitwise": ["error", { "allow": ["~"] }],
    "no-tabs": 0,
    "indent": ["error", 2],
    "new-cap": [2, { "newIsCap": true, "capIsNew": false }],
    "space-before-function-paren": [2, "always"],
    "import/no-unresolved": [
      "error",
      {
        "caseSensitive": true,
        "commonjs": false
      }
    ],
    "arrow-body-style": [0, "always"],
    "import/no-extraneous-dependencies": 0,
    "function-paren-newline": 0,
    "global-require": 1,
    "no-nested-ternary": 1,
    "import/no-mutable-exports": 1,
    "no-param-reassign": 1,
    "no-plusplus": 1,
    "no-console": 1,
    "no-var": 0,
    "vars-on-top": 0,
    "no-restricted-syntax": 0,
    "guard-for-in": 0,
    "object-shorthand": 0,
    "func-names": 0
  }
}
